/* COPYRIGHT - Aayush Chadha, Prepared for IBDP Computer Science Internal Assessment, May 2016 */
body {
	margin: 0;
	position: relative;
	background-image: url(/web-files/img/com.jpg);
	height: 100%;
	-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

}
.jumbotron {
	background: rgb(17, 100, 147); /* Fall-back for browsers that don't support rgba */
    background: rgba(17, 100, 147, 0.6); 
   text-align: center;
   color: #fff;
   margin-bottom: 0;
}

.navbar-default {
	background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(17, 100, 147, 0.6); 
    border:none;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:hover {
	background:rgba(0,0,0, .5);
	color:white;
	padding:10px 8px 10px 12px;
}
.row > div > .unsc{
	background: rgb(255,165,0);
	background: rgba(255,165,0,1);
	bottom: 1px;
	font-size: 20px;
	margin-top: 25px;
	height: 80px;
	padding: 10px;
	
}

.row > div > .disec{
	background: rgb(114,95,199);
	background: rgba(114,95,199,1);
	bottom: 1px;
	font-size: 20px;
	top: 5px;
	margin-top: 25px;
	height: 80px;
	padding: 10px;


}
.row > div > .hrc {
	background: rgb(63,230,148);
	background:rgba(63,230,148,1);
	font-size: 20px;
	margin-top: 25px;
	height: 80px;
	padding: 10px;
}

.row > div > .unodc{
	background: rgb(0,154,205);
	background: rgba(0,154,205,1);
	bottom: 1px;
	margin-top: 25px;
	font-size: 20px;
	height: 80px;
	padding: 10px;
	
}

.row > div > .g20{
	background: rgb(255,215,0);
	background: rgba(255,215,0,1);
	bottom: 1px;
	font-size: 20px;
	top: 5px;
	margin-top: 25px;
	height: 80px;
	padding: 10px;


}

.row > div > .iyp{
	background: rgb(175,47,87);
	background: rgba(175,47,87,1);
	bottom: 1px;
	font-size: 20px;
	top: 5px;
	margin-top: 25px;
	height: 80px;
	padding: 10px;


}
.row > div > .jac{
	background: rgb(0,0,204);
	background: rgba(0,0,204,1);
	bottom: 1px;
	font-size: 20px;
	top: 5px;
	margin-top: 25px;
	height: 80px;
	padding: 10px;


}
.row > div > .who{
	background: rgb(255, 79, 43);
	background: rgba(255, 79, 43,1);
	bottom: 1px;
	font-size: 20px;
	top: 5px;
	margin-top: 25px;
	height: 80px;
	padding: 10px;


}
.glyphicon {
	color: darkgrey;
	font-size: 25px;
	float: right;
}